<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Homepage for Boogle, a ground-up search engine.">
  <meta name="author" content="Landon Smith">

  <title>Boogle</title>

</head>


<body>
  <center>
    <br><br><br>
    <h1>BOOGLE</h1>
    <form action = "http://localhost:5000/result" method = "POST">
      <input type = "text" name = "Search" placeholder="Search..."/>
      <p><input type = "submit" value = "submit" /></p>
    </form>
  </center>
</body>
</html>
