<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Homepage for 🅱️oogle, a ground-up search engine.">
  <meta name="author" content="Landon Smith">

  <title>🅱️oogle</title>

</head>


<body>
  <center>
    <br><br><br>
    <h1>🅱️OOGLE</h1>
    <form action = "http://localhost:5000/result" method = "POST">
      <input type = "text" name = "Search" placeholder="Search..."/>
      <p><input type = "submit" value = "submit" /></p>
    </form>
  </center>
</body>
</html>
